@import url("simplebar/dist/simplebar.min.css");
body {
  /* 特定の画面サイズ時やツールチップが画面外の時に，スクロールバーがオンオフを繰り返すのを回避 */
  overflow: hidden;
}

/* support iOS */
/* https://coliss.com/articles/build-websites/operation/css/css-cover-the-entire-height-of-the-screen.html */
html {
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

/* 国土地理院レイヤーのhtmlでpが使用されており，レイアウト崩れを起こすのを防ぐ */
p {
  margin: 0;
}

a {
  color: #4fb0ff !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.color-dark {
  background: rgba(30, 30, 30, 0.96);
}

.simplebar-scrollbar::before {
  background-color: white !important;
}

/* 主にFeatureTableのスクロールバー用設定 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
